# ============================================
# CONFIGURATION GLOBALE
# ============================================
PORT=9001
SCRIPT_PATH=./deploy.sh

# 1. Le mot de passe du Webhook de déploiement
DEPLOY_SECRET=MiiaEtLaSecuriteDesWriteups2026

# 2. Identifiants de l'Application OAuth GitHub
OAUTH_CLIENT_ID=Ov23liUo3GSYyxVWCHV9
OAUTH_CLIENT_SECRET=VOTRE_CLIENT_SECRET_GITHUB_ICI_SUR_LE_SERVEUR
